@import 'colors';
@import 'fonts';
@import 'base';
@import 'position';
@import 'buttons';
@import 'animations';
@import './modules/navbar';
@import './modules/post';



.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}


.row {
  display: block;
  & * {
    display: inline-block;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  .float-right {
    justify-self: start;
    align-self: end;
  }
}
